absl-py==0.8.1
angles==1.9.11
app==0.0.0
appdirs==1.4.3
astor==0.8.0
camera-calibration-parsers==1.11.13
catkin==0.7.19
certifi==2019.11.28
chardet==3.0.4
controller-manager-msgs==0.15.1
cv-bridge==1.13.0
cycler==0.10.0
Cython==0.29.15
decorator==4.4.1
diagnostic-updater==1.9.3
docopt==0.6.2
gast==0.3.2
gencpp==0.6.2
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.12
gennodejs==2.0.1
genpy==0.6.9
google-pasta==0.1.8
graphsurgeon==0.4.1
grpcio==1.25.0
gxipy==1.0.1905.9051
h5py==2.10.0
idna==2.10
image-geometry==1.13.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
message-filters==1.14.3
numpy==1.17.4
opencv-python==4.1.1.26
Pillow==6.2.1
pipreqs==0.4.10
protobuf==3.10.0
pycuda==2019.1.2
pyparsing==2.4.5
python-dateutil==2.8.1
python-qt-binding==0.3.6
pytools==2019.1.1
qt-dotgraph==0.3.16
requests==2.24.0
rosboost-cfg==1.14.7
roslint==0.11.2
roslz4==1.14.3
sensor-msgs==1.12.7
sharedmem==0.3.7
six==1.13.0
smach==2.0.1
smclib==1.8.3
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
tensorrt==5.1.5.0
termcolor==1.1.0
topic-tools==1.14.3
uff==0.6.3
urllib3==1.25.10
Werkzeug==0.16.0
wrapt==1.11.1
yarg==0.1.9
